@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility text-title {
  display: inline-block;
  position: relative;
  width: fit-content;
  margin-bottom: 16px;
}

.text-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3b82f6, #9333ea, #ec4899);
  z-index: -1;
  filter: blur(20px);
  opacity: 0.4;
  border-radius: 10px;
}

@utility underline-gradient {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #3b82f6, #9333ea, #ec4899);
  border-radius: 2px;
}